.Button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  margin: auto;
  max-width: 100%;
}

.Button:hover {
  background: lightgrey;
}

.Row {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
