.App {
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

.Button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.Button:hover {
	background: lightgrey;
}
